<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        <script src="https://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
        <script src="~/assets/js/jquery-validate/jquery.validate.js"></script>
        <script src="~/assets/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
